# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
venv/
env/
.venv/

# Environment
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads
frontend/static/images/products/*
!frontend/static/images/products/.gitkeep
frontend/static/images/banners/*
!frontend/static/images/banners/.gitkeep

# Logs
*.log
logs/
